@model MVC.Budget.K_MYR.Models.ViewModels.LayoutViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC.Budget.K_MYR</title>
    <script>
        window.userLocale = new Intl.Locale('@Model.Culture.Name');
        window.userNumberFormat = new Intl.NumberFormat('@Model.Culture.Name', { style: 'currency', currency: '@Model.CurrencyCode' });
    </script>

    @await RenderSectionAsync("Stylesheets", false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="navbar-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Budgeteer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav  me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>          
                    <form id="country-form" method="post" style="display: none">
                        <input type="text" id="country" aria-label="Country Selection" autocomplete="off"/>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="messageBox" id="messageBox">
        <div class="messageBoxIcon-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="70" width="70">
                <use href="" id="messageBoxIcon"/>
            </svg>
        </div>
        <div class="messageBox-collapse">
            <button type="button" class="messageBox-button" id="messageBoxUp-button" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" class="messageBox-caret" width="30" height="16" fill="currentColor" viewBox="0 0 16 16" preserveAspectRatio="none">
                    <path d="M2 11h12L8 4z" />
                </svg>
            </button>            
            <div class="messageBox-body">
                <div class="messageBox-scrollcontainer" id="messageBox-scrollcontainer"></div>                
                <button id="messageBoxClose-button" type="button" class="btn-close flex-shrink-0" aria-label="Close"></button>
            </div>
            <button type="button" class="messageBox-button" id="messageBoxDown-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="messageBox-caret" width="30" height="16" fill="currentColor" viewBox="0 0 16 16" preserveAspectRatio="none">
                    <path d="M2 5h12L8 11z"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="container main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", false)   
</body>
</html>
