@model MVC.Budget.K_MYR.Models.ViewModels.LayoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC.Budget.K_MYR</title>
    <script>
        window.userLocale = new Intl.Locale('@Model.Culture.Name');
        window.userNumberFormat = new Intl.NumberFormat('@Model.Culture.Name', { style: 'currency', currency: '@Model.CurrencyCode' });
    </script>

    @await RenderSectionAsync("Stylesheets", false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-md">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Budgeteer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>          
                    <form id="country-form" method="post" onsubmit="return false;">
                        <input type="text" id="country" aria-label="Country Selection">
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
