@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@model LayoutModel<FiscalPlanViewModel>
@inject IAntiforgery Antiforgery

@section Stylesheets {
    @{
        <link rel="stylesheet" href="~/dist/styles-index~fiscalPlan~category.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/styles-fiscalPlan~category.css" asp-append-version="true" />
    }
}

@{
    ViewData["Title"] = "Home Page";
    var token = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var fiscalPlanDTO = Model.PageModel.FiscalPlan;
}

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="visibility:hidden; position: absolute;">
    <defs>
        <linearGradient id="icon_gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#CCFBE5;stop-opacity:1" />
            <stop offset="50%" style="stop-color:#A2D6CB;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#7EB1B1;stop-opacity:1" />
        </linearGradient>
        <radialGradient id="icon_gradient_radial" x1="0" x2="1" y1="0" y2="1">
            <stop offset="0%" stop-color="#CCFBE5" />
            <stop offset="50%" stop-color="#A2D6CB" />
            <stop offset="100%" stop-color="#7EB1B1" />
        </radialGradient>
    </defs>
    <symbol id="addCategory-icon" viewBox="0 0 14 14">        
        <path fill="url(#icon_gradient_radial)" fill-rule="evenodd" d="M8 1a1 1 0 0 0 -2 0v5H1a1 1 0 0 0 0 2h5v5a1 1 0 1 0 2 0V8h5a1 1 0 1 0 0 -2H8V1Z" clip-rule="evenodd" stroke-width="1"></path>        
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="edit-icon" viewBox='0 0 16 16'>
        <path d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z' />
        <path fill-rule="evenodd" d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z' />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="trash-icon" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="check-icon" viewBox="0 0 1024 1024">
        <path d="M866.133333 258.133333L362.666667 761.6l-204.8-204.8L98.133333 618.666667 362.666667 881.066667l563.2-563.2z" fill="#3cb44b" stroke-width="60" stroke="#3cb44b" stroke-linecap="round" stroke-linejoin="round" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="cross-icon" viewBox="0 0 512 512">
        <path fill="none" stroke="#e6194B" stroke-linecap="round" stroke-linejoin="round" stroke-width="65" d="M368 368L144 144M368 144L144 368" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="info-icon" viewBox="0 0 32 32">
        <path d="M16.247 4.733c0 1.684 1.271 2.825 2.84 2.825s2.842-1.142 2.842-2.825c0-1.685-1.272-2.826-2.842-2.826-1.568 0-2.84 1.141-2.84 2.826zm-6.151 9.642c0 .334-.061 1.163.008 1.662l2.479-2.983c.513-.562 1.106-.955 1.409-.849s.47.463.371.795L10.26 26.59c-.473 1.588.421 3.148 2.599 3.504 3.189 0 5.084-2.158 6.948-4.955 0-.334.111-1.213.044-1.713l-2.479 2.982c-.514.562-1.151.955-1.455.85-.28-.098-.444-.41-.389-.721l4.132-13.653c.344-1.734-.59-3.312-2.564-3.514-2.076.001-5.136 2.209-7 5.005z"/>
    </symbol>
</svg>

<div id="action-sidebar">
    <button type="button" class="sidebar-button-container tooltipped" data-index="0" title="Monthly Overview">
        <svg class="sidebar-button" id="home-button" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.5 3H16C15.7239 3 15.5 3.22386 15.5 3.5V3.55891L19 6.35891V3.5C19 3.22386 18.7762 3 18.5 3Z" fill="##ffffff" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 9.5C10.75 8.80964 11.3097 8.25 12 8.25C12.6904 8.25 13.25 8.80964 13.25 9.5C13.25 10.1904 12.6904 10.75 12 10.75C11.3097 10.75 10.75 10.1904 10.75 9.5Z" fill="#ffffff" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 10.9605L21.5315 11.5857C21.855 11.8444 22.3269 11.792 22.5857 11.4685C22.8444 11.1451 22.792 10.6731 22.4685 10.4143L14.3426 3.91362C12.9731 2.81796 11.027 2.81796 9.65742 3.91362L1.53151 10.4143C1.20806 10.6731 1.15562 11.1451 1.41438 11.4685C1.67313 11.792 2.1451 11.8444 2.46855 11.5857L3.25003 10.9605V21.25H2.00003C1.58581 21.25 1.25003 21.5858 1.25003 22C1.25003 22.4142 1.58581 22.75 2.00003 22.75H22C22.4142 22.75 22.75 22.4142 22.75 22C22.75 21.5858 22.4142 21.25 22 21.25H20.75V10.9605ZM9.25003 9.5C9.25003 7.98122 10.4812 6.75 12 6.75C13.5188 6.75 14.75 7.98122 14.75 9.5C14.75 11.0188 13.5188 12.25 12 12.25C10.4812 12.25 9.25003 11.0188 9.25003 9.5ZM12.0494 13.25C12.7143 13.25 13.2871 13.2499 13.7459 13.3116C14.2375 13.3777 14.7088 13.5268 15.091 13.909C15.4733 14.2913 15.6223 14.7625 15.6884 15.2542C15.7462 15.6842 15.7498 16.2146 15.75 16.827C15.75 16.8679 15.75 16.9091 15.75 16.9506L15.75 21.25H14.25V17C14.25 16.2717 14.2484 15.8009 14.2018 15.454C14.1581 15.1287 14.0875 15.0268 14.0304 14.9697C13.9733 14.9126 13.8713 14.842 13.546 14.7982C13.1991 14.7516 12.7283 14.75 12 14.75C11.2717 14.75 10.8009 14.7516 10.4541 14.7982C10.1288 14.842 10.0268 14.9126 9.9697 14.9697C9.9126 15.0268 9.84199 15.1287 9.79826 15.454C9.75162 15.8009 9.75003 16.2717 9.75003 17V21.25H8.25003L8.25003 16.9506C8.24999 16.2858 8.24996 15.7129 8.31163 15.2542C8.37773 14.7625 8.52679 14.2913 8.90904 13.909C9.29128 13.5268 9.76255 13.3777 10.2542 13.3116C10.7129 13.2499 11.2858 13.25 11.9507 13.25H12.0494Z" fill="##ffffff" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 9.5C10.75 8.80964 11.3097 8.25 12 8.25C12.6904 8.25 13.25 8.80964 13.25 9.5C13.25 10.1904 12.6904 10.75 12 10.75C11.3097 10.75 10.75 10.1904 10.75 9.5Z" fill="#ffffff" />
        </svg>
    </button>
    <button type="button" class="sidebar-button-container tooltipped" data-index="1" title="Reevaluate Transactions">
        <svg class="sidebar-button" id="reevaluation-button" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path fill="#ffffff" d="M252.314 19.957c-72.036.363-142.99 33.534-189.18 95.97-69.83 94.39-59.125 223.32 19.85 304.993l-37.238 50.332 151.22-22.613L174.35 297.42l-43.137 58.308c-44.08-54.382-47.723-133.646-4.16-192.53 30.676-41.466 77.863-63.504 125.758-63.753 16.344-.085 32.766 2.382 48.645 7.467l-6.963-46.55c-23.858-4.86-47.908-5.026-71.017-.997-59.232 7.322-113.994 39.918-148.157 91.215 35.65-65.89 103.774-105.918 176.043-107.744 1.673-.042 3.347-.063 5.023-.065 14.8-.01 29.748 1.596 44.597 4.905l48.608-7.268c-31.14-13.906-64.32-20.62-97.274-20.453zm212.93 22.055l-151.217 22.61 22.614 151.22 41.126-55.588c42.204 54.29 45.092 132.048 2.187 190.043-40.22 54.367-108.82 75.32-170.19 57.566l6.522 43.598c28.726 5.533 58.236 4.414 86.203-3.07 37.448-5.957 73.34-22.05 103.16-47.728-49.196 54.65-122.615 77.514-191.744 64.34l-55.8 8.344c99.03 43.7 218.402 14.77 285.51-75.938 69.13-93.445 59.34-220.743-17.483-302.53l39.114-52.866z" />
        </svg>
    </button>
    <button type="button" class="sidebar-button-container tooltipped" data-index="2" title="Yearly Statistics">
        <svg class="sidebar-button" id="statistics-button" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" xml:space="preserve">
            <path d="M60,11c0-0.1,0-0.2-0.1-0.3v-0.1c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.1-0.1-0.2-0.1-0.3-0.2h-0.1C49.2,0.1,49.1,0,49,0l0,0H1C0.4,0,0,0.4,0,1v50c0,0.6,0.4,1,1,1h4v-2H2v-3h3v-2H2V2h46v9c0,0.6,0.4,1,1,1h9v33h-4v2h4v3h-4v2h5c0.6,0,1-0.4,1-1V11L60,11z M50,10V3.4l6.6,6.6H50z" />
            <path d="M51,25c0-0.6-0.4-1-1-1h-8c-0.6,0-1,0.4-1,1v33h-3V37c0-0.6-0.4-1-1-1h-8c-0.6,0-1,0.4-1,1v21h-3V47c0-0.6-0.4-1-1-1h-8c-0.6,0-1,0.4-1,1v11h-5V22H8v37c0,0.6,0.4,1,1,1h7h8h5h8h5h8h6v-2h-5V25z M49,26v3h-6v-3H49z M36,38v3h-6v-3H36z M23,48v3h-6v-3H23z M17,58v-5h6v5H17z M30,58V43h6v15H30z M43,58V31h6v27H43z" />
            <rect x="5" y="5" width="6" height="2" />
            <rect x="5" y="9" width="14" height="2" />
            <rect x="5" y="13" width="2" height="2" />
            <rect x="9" y="13" width="2" height="2" />
            <rect x="13" y="13" width="2" height="2" />
            <path d="M15.8,34.7L38,12.5V16h2v-6c0-0.6-0.4-1-1-1h-6v2h3.6L14.3,33.3L15.8,34.7z" />
            <rect x="15" y="42" width="2" height="2" />
            <rect x="19" y="42" width="2" height="2" />
            <rect x="19" y="38" width="2" height="2" />
            <rect x="32" y="28" width="2" height="2" />
            <rect x="45" y="16" width="2" height="2" />
            <rect x="23" y="42" width="2" height="2" />
            <rect x="28" y="32" width="2" height="2" />
            <rect x="32" y="32" width="2" height="2" />
            <rect x="36" y="32" width="2" height="2" />
            <rect x="41" y="20" width="2" height="2" />
            <rect x="45" y="20" width="2" height="2" />
            <rect x="49" y="20" width="2" height="2" />
        </svg>
    </button>
    <button type="button" class="sidebar-button-container tooltipped" data-index="3" title="Search Transactions">
        <svg class="sidebar-button" id="search-button" fill="transparent" version="1.1" width="45" height="45" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
    <a asp-controller="Home" asp-action="Index">
        <div class="sidebar-button-container tooltipped" title="Home">
            <svg class="sidebar-button" id="back-button" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 299.021 299.021">
                <path d="M292.866,254.432c-2.288,0-4.443-1.285-5.5-3.399c-0.354-0.684-28.541-52.949-146.169-54.727v51.977 c0,2.342-1.333,4.48-3.432,5.513c-2.096,1.033-4.594,0.793-6.461-0.63L2.417,154.392C0.898,153.227,0,151.425,0,149.516 c0-1.919,0.898-3.72,2.417-4.888l128.893-98.77c1.87-1.426,4.365-1.667,6.461-0.639c2.099,1.026,3.432,3.173,3.432,5.509v54.776 c3.111-0.198,7.164-0.37,11.947-0.37c43.861,0,145.871,13.952,145.871,143.136c0,2.858-1.964,5.344-4.75,5.993 C293.802,254.384,293.34,254.432,292.866,254.432z" />
            </svg>
        </div>
    </a>
</div>

<div id="menu-container" data-categoryid="0">
    <div id="menu" class="menu">
        <span class="close-menu menu-option tooltipped" id="close-menu" title="Close Menu">
            <button type="button" class="button-menu" id="close-button-menu">
                <svg width="65" height="65" class="svg-menu" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368" /></svg>
            </button>
        </span>
        <span id="details-menu" class="span-box-menu menu-option tooltipped" title="Details" style="--i:0">
            <button type="button" class="button-menu">
                <svg width="30" height="30" class="svg-menu" viewBox="0 0 512 512"><path d="M32 32v432a16 16 0 0016 16h432" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /><rect x="96" y="224" width="80" height="192" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /><rect x="240" y="176" width="80" height="240" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /><rect x="383.64" y="112" width="80" height="304" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /></svg>
            </button>
        </span>
        <span id="add-menu" class="span-box-menu menu-option tooltipped" title="Add Transaction" style="--i:1">
            <button type="button" class="button-menu">
                <svg class="svg-menu" width="40" height="40" viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112" />
                </svg>
            </button>
        </span>
        <span id="edit-menu" class="span-box-menu menu-option tooltipped" title="Edit Category" style="--i:2">
            <button type="button" class="button-menu">
                <svg width="30" height="30" class="svg-menu" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" /></svg>
            </button>
        </span>
        <span id="delete-menu" class="span-box-menu menu-option tooltipped" title="Delete Category" style="--i:3">
            <button type="button" class="button-menu">
                <svg width="30" height="30" class="svg-menu" viewBox="0 0 512 512"><path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352" /><path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" /></svg>
            </button>
        </span>
    </div>
</div>

<div class="flip-container">
    <div id="flip-container-inner" class="flip-container-inner">
        <div id="face_0" aria-hidden="false" class="flip-content visible-face" style="--s:0">
            <div id="home" class="content-outer-container">
                <div id="home-scrollcontainer" class="content-scrollcontainer" tabindex="0">
                    <div id="home-container" class="content-container">
                        <div class="dashboard">
                            <div class="dashboard-container">
                                <div class="chart-container">
                                    @{
                                        var unhappyExpenses = fiscalPlanDTO.ExpensesTotal - fiscalPlanDTO.ExpensesHappyTotal;
                                    }
                                    <canvas id="sentimentChart"></canvas>
                                </div>
                                <div class="chart-container">
                                    <h1 class="text-center text-truncate mt-1">@fiscalPlanDTO.Name</h1>
                                    <div class="input-group monthPicker mt-3">
                                        <input id="home-monthSelector" type="text" class="monthSelector form-control" value="" aria-label="Month Selection" readonly>
                                        <span class="input-group-text calendar-button"><i class="bi bi-calendar"></i></span>
                                    </div>                                    
                                    <h5 id="home-overspending" class="text-center mt-5 mb-0">
                                        Overspending: @fiscalPlanDTO.Overspending.ToString("C2", Model.Culture)
                                    </h5>                                    
                                </div>
                                <div class="chart-container">
                                    @{
                                        var unnecessaryExpenses = fiscalPlanDTO.ExpensesTotal - fiscalPlanDTO.ExpensesNecessaryTotal;
                                    }
                                    <canvas id="necessityChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="accordion my-3" id="incomeAccordion" data-type="1">
                            <div class="accordion-item">
                                <div id="accordion-head-income" class="accordion-head">
                                    <h5 class="accordion-header me-auto" id="accordionIncomeHeader">
                                            Income
                                    </h5>
                                    <h5 id="incomeBalanceHeader" class="accordion-header">
                                        @fiscalPlanDTO.IncomeTotal.ToString("C2", Model.Culture) / @fiscalPlanDTO.IncomeBudget.ToString("C2", Model.Culture)
                                    </h5>                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" class="addCategory-icon" viewBox="0 0 14 14" height="23" width="23" tabindex="0">
                                        <use href="#addCategory-icon" />
                                    </svg>
                                    <div class="accordion-caret rotate" tabindex="0"></div>
                                </div>
                                <div id="collapseIncome" class="accordion-collapse collapse show" aria-labelledby="accordionIncomeHeader">
                                    <div id="incomeAccordionBody" class="accordion-body">
                                        @foreach (var category in fiscalPlanDTO.IncomeCategories)
                                        {
                                            var budget = category.BudgetLimit?.Budget ?? category.Budget;
                                            var progressbarWidth = budget > 0 ? (int)Math.Min(100, category.Total / budget * 100) : 100;

                                            <div id="category_@category.Id" class="category" data-id="@category.Id" tabindex="0">
                                                <div class="border-container">
                                                    <div class="content">
                                                        <div class="category-body">
                                                            <div class="category-body-content" id="category_@(category.Id)_name">@Html.Encode(category.Name)</div>

                                                            @if (category.Total > budget)
                                                            {
                                                                <div id="category_@(category.Id)_deviation" class="category-body-content deviation">
                                                                    <span id="category_@(category.Id)_deviationText" class="deviation-text">Surplus: @((category.Total - budget).ToString("C2", Model.Culture))</span>
                                                                </div>
                                                            }

                                                            <div class="category-body-content balance">
                                                                <span id="category_@(category.Id)_balance" class="balance-text">@(category.Total.ToString("C2", Model.Culture)) / @budget.ToString("C2", Model.Culture)</span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div id="category_@(category.Id)_progressbar" class="progress-bar bg-success"
                                                                 role="progressbar" style="width: @(progressbarWidth)%" aria-valuenow="@progressbarWidth" aria-valuemin="0" aria-valuemax="100" aria-labelledby="category_@(category.Id)_balance">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-animation"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion my-2" id="expenseAccordion" data-type="2">
                            <div class="accordion-item">
                                <div id="accordion-head-expenses" class="accordion-head">
                                    <h5 class="accordion-header me-auto" id="accordionExpensesHeader">
                                        Expenses
                                    </h5>
                                    <h5 id="expensesBalanceHeader" class="accordion-header">
                                        @fiscalPlanDTO.ExpensesTotal.ToString("C2", Model.Culture) / @fiscalPlanDTO.ExpensesBudget.ToString("C2", Model.Culture)
                                    </h5>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="addCategory-icon" viewBox="0 0 14 14" height="23" width="23" tabindex="0">
                                        <use href="#addCategory-icon" />
                                    </svg>
                                    <div class="accordion-caret rotate" tabindex="0"></div>
                                </div>
                                <div id="collapseExpenses" class="accordion-collapse collapse show" aria-labelledby="accordionExpensesHeader">
                                    <div id="expensesAccordionBody" class="accordion-body">
                                        @foreach (var category in fiscalPlanDTO.ExpenseCategories)
                                        {
                                            var budget = category.BudgetLimit?.Budget ?? category.Budget;
                                            var progressbarWidth = budget > 0 ? (int)Math.Min(100, category.Total / budget * 100) : 100;
                                            var color = progressbarWidth < 50 ? "bg-success" : progressbarWidth < 85 ? "bg-warning" : "bg-danger";

                                            <div id="category_@category.Id" class="category" data-id="@category.Id" tabindex="0">
                                                <div class="border-container">
                                                    <div class="content">
                                                        <div class="category-body">
                                                            <div id="category_@(category.Id)_name" class="category-body-content">@category.Name</div>

                                                            @if (category.Total > budget)
                                                            {
                                                                <div id="category_@(category.Id)_deviation" class="category-body-content deviation">
                                                                    <span id="category_@(category.Id)_deviationText" class="overspending-text">Overspending: @((category.Total - budget).ToString("C2", Model.Culture))</span>
                                                                </div>
                                                            }
                                                            <div class="category-body-content balance">
                                                                <span id="category_@(category.Id)_balance" class="balance-text">@category.Total.ToString("C2", Model.Culture) / @budget.ToString("C2", Model.Culture)</span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div id="category_@(category.Id)_progressbar" class="progress-bar @color"
                                                                 role="progressbar" style="width: @(progressbarWidth)%" aria-valuenow="@(progressbarWidth)" aria-valuemin="0" aria-valuemax="100" aria-labelledby="category_@(category.Id)_balance">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-animation"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div id="face_1" aria-hidden="true" inert class="flip-content" style="--s:1">
            <div id="reevaluation" class="content-outer-container">
                <div id="reevalInfo">
                    <h2 id="reevalInfoText">You have reevaluated all of your previous expenses. Good job!</h2>
                </div>
                <div id="reevalCategories-scrollcontainer" class="content-scrollcontainer" tabindex="0">
                    <div id="reevalCategories-container" class="content-container">                       
                        @for (int i = 0; i < Model.PageModel.Categories.Count; i++)
                        {
                            var category = Model.PageModel.Categories[i];

                            if(category.Transactions.Count != 0)
                            {
                                <div class="accordion" id="accordion_@category.Id" data-categoryId="@category.Id">
                                    <div class="accordion-item">
                                        <div id="accordion-head_@category.Id" class="accordion-head d-flex">
                                            <h5 id="accordionHeader_@category.Id" class="accordion-header me-auto">@category.Name</h5>
                                            <div class="accordion-caret rotate" tabindex="0"></div>
                                        </div>
                                        <div class="accordion-collapse collapse show" id="collapse_@category.Id" aria-labelledby="accordionHeader_@category.Id">
                                            <div class="accordion-body reevaluation-accordion">
                                                @foreach (var transaction in category.Transactions)
                                                {
                                                    <div id="reeval_transaction_@transaction.Id" class="transaction-body"
                                                         data-id="@transaction.Id"
                                                         data-ishappy="@transaction.IsHappy"
                                                         data-isnecessary="@transaction.IsNecessary"
                                                         data-amount="@transaction.Amount"
                                                         data-date="@transaction.DateTime.ToUniversalTime()">
                                                        <div>@transaction.Title</div>
                                                        <div id="transaction_date_@transaction.Id">@transaction.DateTime.ToString(CultureInfo.InvariantCulture)</div>
                                                        <div id="transaction_amount_@transaction.Id">@transaction.Amount.ToString("C2", Model.Culture)</div>
                                                        <form id="reevaluate-transaction-form_@transaction.Id" class="reevaluate-transaction-form" novalidate="novalidate">                                                            
                                                            <input type="hidden" value="@transaction.Id" id="reeval_transaction_@transaction.Id" name="Id">
                                                            <div class="reevalIconsContainer">
                                                                <div class="d-flex align-items-center">
                                                                    <input type="radio" value="true" id="isHappyTrue_@transaction.Id" class="iconRadioButton" name="IsHappy">
                                                                    <label class="reevalIconLabel" for="isHappyTrue_@transaction.Id">
                                                                         <img src="~/dist/img/happy-emote.svg" height="25" width="25" class="reevalIcon">
                                                                    </label>
                                                                    <input type="radio" value="false" id="isHappyFalse_@transaction.Id" class="iconRadioButton" name="IsHappy" checked>
                                                                    <label class="reevalIconLabel" for="isHappyFalse_@transaction.Id">
                                                                         <img src="~/dist/img/sad-emote.svg" height="25" width="25" class="reevalIcon">
                                                                    </label>
                                                                </div>                                                    
                                                                <div class="d-flex align-items-center">
                                                                    <input type="radio" value="true" id="isNecessaryTrue_@transaction.Id" class="iconRadioButton" name="IsNecessary">
                                                                    <label class="reevalIconLabel" for="isNecessaryTrue_@transaction.Id">
                                                                          <img src="~/dist/img/chart-growth.svg" height="25" width="25" class="reevalIcon">
                                                                    </label>
                                                                    <input type="radio" value="false" id="isNecessaryFalse_@transaction.Id" class="iconRadioButton" name="IsNecessary" checked>
                                                                    <label class="reevalIconLabel" for="isNecessaryFalse_@transaction.Id">
                                                                         <img src="~/dist/img/chart-decrease.svg" height="25" width="25" class="reevalIcon" />
                                                                    </label>
                                                                </div>
                                                                <div>
                                                                    <button class="reeval-submit-button" type="submit">
                                                                        <svg class="reeval-submit-svg" viewBox="0 0 24 24" height="40" width="40">
                                                                            <circle cx="12" cy="12" r="11.5" stroke-width="1"></circle>
                                                                            <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </form>
                                                    </div>
                                                }
                                                @if(category.Transactions.Count >= 5)
                                                {
                                                    <div class="spinner-container invisible" id="spinner_@category.Id" >
                                                        <div class="spinner-grow" role="status" style="--i: 0">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                        <div class="spinner-grow" role="status" style="--i: 1">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                        <div class="spinner-grow" role="status" style="--i: 2">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                    </div>
                                                }                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="face_2" aria-hidden="true" inert class="flip-content" style="--s:2">
            <div id="statistics" class="content-outer-container">
                <div id="statistics-scrollcontainer" class="content-scrollcontainer" tabindex="0">
                    <div id="statistics-container" class="content-container">
                        <div class="dashboard">
                            <div class="dashboard-container">
                                <div class="chart-container">
                                    <canvas id="sentimentChartYear">
                                    </canvas>
                                </div>
                                <div class="chart-container">
                                    <h1 class="text-center mt-1">My Budget</h1>
                                    <div class="input-group yearPicker mt-3">
                                        <input id="statistics-yearSelector" type="text" class="yearSelector form-control ms-auto" value="" aria-label="Year Selection" readonly>
                                        <span class="input-group-text me-auto calendar-button"><i class="bi bi-calendar"></i></span>
                                    </div>
                                    <div class="dashboardStatistics mt-5">
                                        <h5 id="statistics-totalSpent" class="text-center"></h5>
                                        <h5 id="statistics-overspending" class="text-center"></h5>
                                    </div>
                                </div>
                                <div class="chart-container">
                                    <canvas id="necessityChartYear">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="Charts-container">
                            <div class="barChart-container">
                                <canvas id="sentimentBarChartYear"></canvas>
                            </div>
                        </div>
                        <div class="Charts-container">
                            <div class="barChart-container">
                                <canvas id="necessityBarChartYear"></canvas>
                            </div>
                        </div>
                        <div class="Charts-container">
                            <div class="barChart-container">
                                <canvas id="overspendingChart"></canvas>
                            </div>
                        </div>
                        <div class="Charts-container">
                            <div class="barChart-container">
                                <canvas id="totalSpentChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="face_3" aria-hidden="true" inert class="flip-content" style="--s:3">
            <div id="search" class="content-outer-container">
                <div id="search-scrollcontainer" class="content-scrollcontainer" tabindex="0">
                    <div id="search-container" class="content-container">
                        <div class="filter-container">
                            @await Html.PartialAsync("_TransactionSearchForm", Model.PageModel.Search)
                        </div>
                        <div class="filter-container mt-3" id="table-container" style="display: none">
                            <table class="table table-hover table-borderless w-100 px-2" id="transactions-table">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

@await Html.PartialAsync("_CategoryModals", Model.PageModel.Category)
@await Html.PartialAsync("_TransactionModals", Model.PageModel.Transaction)
<input id="fiscalPlan_Id" type="hidden" value="@fiscalPlanDTO.Id" data-object='@Json.Serialize(Model.PageModel.FiscalPlan)' readonly>
<input type="hidden" value="@token" id="antiforgeryToken" />

@section Scripts {
    @{
        <script src="~/dist/runtime.js" asp-append-version="true"></script>
        <script src="~/dist/vendors-index~fiscalPlan~category.js" asp-append-version="true"></script>
        <script src="~/dist/fiscalPlan.js" asp-append-version="true"></script>
    }
}
