@model Budget.Models.IndexViewModel

@{
    ViewData["Title"] = "Budget App";
}

<ul class="nav nav-tabs">
    <li class="nav-show">
        <button id="nav-link-transactions" class="nav-link active" >Transactions</button>
    </li>
    <li class="nav-show">
        <button id="nav-link-categories" class="nav-link" >Categories</button>
    </li>
</ul>

<div class="modal fade" id="transaction-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Edit Transaction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <form method="post" id="transaction-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transactions.FirstOrDefault()!.Id" />
            <div class="form-group my-2">
                <label asp-for="Transactions.FirstOrDefault()!.Name" class="control-label"></label>
                <input asp-for="Transactions.FirstOrDefault()!.Name" class="form-control" />
                <span asp-validation-for="Transactions.FirstOrDefault()!.Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Transactions.FirstOrDefault()!.Description" class="control-label"></label>
                <input asp-for="Transactions.FirstOrDefault()!.Description" class="form-control" />
                <span asp-validation-for="Transactions.FirstOrDefault()!.Description" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Transactions.FirstOrDefault()!.Date" class="control-label"></label>
                <input asp-for="Transactions.FirstOrDefault()!.Date" class="form-control" />
                <span asp-validation-for="Transactions.FirstOrDefault()!.Date" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Transactions.FirstOrDefault()!.Amount" class="control-label"></label>
                <input asp-for="Transactions.FirstOrDefault()!.Amount" class="form-control" />
                <span asp-validation-for="Transactions.FirstOrDefault()!.Amount" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Transactions.FirstOrDefault()!.Category" class="control-label"></label>
                <select asp-for="Transactions.FirstOrDefault()!.Category" asp-items="Model.Categories.Select( p => {
                    return new SelectListItem()
                    {
                        Text = p.Name.ToString(),
                        Value = p.Name.ToString(),
                        Selected = false
                    };
                })"></select>
                <span asp-validation-for="Transactions.FirstOrDefault()!.Category" class="text-danger"></span>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="inputButton">Update</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="category-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Edit Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <form method="post" id="category-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categories.FirstOrDefault()!.Id" />
            <div class="form-group my-2">
                <label asp-for="Categories.FirstOrDefault()!.Name" class="control-label"></label>
                <input asp-for="Categories.FirstOrDefault()!.Name" class="form-control" />
                <span asp-validation-for="Categories.FirstOrDefault()!.Name" class="text-danger"></span>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="inputButton">Update</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Delete?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="delete" id="delete-form">
                <div class="mb-3">
                    <input type="hidden" id="delete-id" name="id" value="0">
                </div>
                <div class="mb-3">
                    <input type="hidden" id="delete-type" name="type" value="0">
                </div>
                <div id="delete-modal-text" class="mb-3">
                    <label></label>
                </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" id="inputButton">Delete</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="container" id="transactions-container">
<div class="container  my-3">
    <div class="row align-items-start">
    <div class="col justify-content-start">
        <form>
            <p>
                <select asp-for="CategoryName" asp-items="Model.Categories.Select( p => {
                    return new SelectListItem()
                    {
                        Text = p.Name.ToString(),
                        Value = p.Name.ToString(),
                        Selected = false
                    };
                })">
                    <option value="">All</option>
                </select>
                Date: <input type="date" asp-for="TransactionDate" value="null"/>

                Name: <input type="text" asp-for="TransactionName" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
    <div class="col-3">
        <button class="btn btn-success" onclick="transactionModal(0)">Create new</button>
    </div>
    </div>
</div>

    <table id="transactions-table" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor( p => p.Transactions.FirstOrDefault()!.Name)
                </th>
                <th>
                    @Html.DisplayNameFor( p => p.Transactions.FirstOrDefault()!.Description)
                </th>
                <th>
                    @Html.DisplayNameFor( p => p.Transactions.FirstOrDefault()!.Date)
                </th>
                <th>
                    @Html.DisplayNameFor( p => p.Transactions.FirstOrDefault()!.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor( p => p.Transactions.FirstOrDefault()!.Category)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="transactions-table-body">
            <tr id="transaction-template" hidden>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">
                    <button class="btn btn-primary mx-2" onclick="transactionModal(0)">Edit</button>
                    <button class="btn btn-danger mx-2" onclick="deleteModal(0, 'transaction')">Delete</button>
                </td>
            </tr>


        @foreach(var element in Model.Transactions)
        {
            <tr id="transaction-@element.Id">
                <td>
                    @Html.DisplayFor( p => element.Name)
                </td>
                <td>
                    @Html.DisplayFor( p => element.Description)
                </td>
                <td>
                    @Html.DisplayFor( p => element.Date)
                </td>
                <td>
                    @Html.DisplayFor( p => element.Amount)
                </td>
                <td>
                    @Html.DisplayFor( p => element.Category.Name)
                </td>
                <td class="text-end"> 
                    <button class="btn btn-primary mx-2" onclick="transactionModal(@element.Id)">Edit</button>
                    <button class="btn btn-danger mx-2" onclick="deleteModal(@element.Id, 'transaction')">Delete</button>
                </td>
            </tr>
        }
        </tbody>
        @* <tfoot>
            <tr>
                <th>
                    Total
                </th>
                <td></td>
                <td></td>
                <td>@Model.Transactions.Sum( p => p.Amount).ToString("C")</td>
                <td></td>
                <td></td>
            </tr>
        </tfoot> *@
    </table>

</div>


<div class="container" id="categories-container" hidden>
<div class="container  my-3">
    <div class="row justify-content-end">
    <div class="col-3">
        <button class="btn btn-success" onclick="categoryModal(0)">Create new</button>
    </div>
    </div>
</div>

    <table id = "categories-table" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor( p => p.Categories.FirstOrDefault()!.Name)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="categories-table-body">
            <tr id="category-template" hidden>
                <td></td>
                <td class="text-end">
                    <button class="btn btn-primary mx-2" onclick="transactionModal(0)">Edit</button>
                    <button class="btn btn-danger mx-2" onclick="deleteModal(0, 'transaction')">Delete</button>
                </td>
            </tr>

        @foreach(var element in Model.Categories)
        {
            <tr id="category-@element.Id">
                <td>
                    @Html.DisplayFor( p => element.Name)
                </td>
                <td class="text-end">
                    <button class="btn btn-primary mx-2" onclick="categoryModal(@element.Id)">Edit</button>
                    <button class="btn btn-danger mx-2" onclick="deleteModal(@element.Id, 'category')">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}