@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    @* Tabs *@
    <nav>
        <div class="nav nav-tabs fs-6" id="nav-tabs" role="tablist">
            <button class="nav-link fw-bold" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="true">Transactions</button>
            <button class="nav-link fw-bold" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories" type="button" role="tab" aria-controls="categories" aria-selected="false">Categories</button>
        </div>

    </nav>
    @* tab contents *@
    <div class="tab-content border p-2 border-top-0" id="nav-tabContent">

        <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab" tabindex="0" aria-selected="true">
            <div class="d-flex px-2 justify-content-between fst-normal fs-6">
                <span class="Balance">Balance: $@Model.Balance.Balance</span>
                <div>
                    <span class="Income me-2">Income: $@Model.Balance.Income</span>
                    <span class="Expense">Expenses: $@Model.Balance.Expense</span>
                </div>

            </div>
            <button type="button" class="btn btn-outline-success open-addTransaction px-4 fw-bold ms-2" data-bs-toggle="modal" data-bs-target="#AddTransactionModal"><i class="bi bi-plus-lg"></i> New</button>
            <div class="row my-2">
                <partial name="_FilterForm" />
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Date.ToShortDateString()</td>
                            <td>@transaction.Name - @transaction.Category.Name</td>
                            <td class="@transaction.TransactionType.Name">@(@transaction.TransactionType.Id == 2 ? "-" : "+") $@transaction.Amount</td>

                            <td class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary open-editTransaction" data-bs-toggle="modal" data-bs-target="#AddTransactionModal" data-name="@transaction.Name" data-id="@transaction.Id" data-transactionType="@transaction.TransactionType.Id" data-date="@transaction.Date" data-category="@transaction.CategoryId" data-amount="@transaction.Amount" id="EditTransactionBtn"><i class="bi bi-pencil-square"></i> edit</button>
                                |
                                <button type="button" class="btn btn-danger open-deleteTransaction" data-bs-toggle="modal" data-bs-target="#DeleteTransactionModal" data-id="@transaction.Id" id="DeleteTransactionBtn"><i class="bi bi-trash"></i> delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab" tabindex="0" aria-selected="false">
            <button type="button" class="btn btn-outline-success open-addCategory px-4 fw-bold" data-bs-toggle="modal" data-bs-target="#AddCategoryModal"><i class="bi bi-plus-lg"></i> add</button>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <tr class="list-group-item d-flex justify-content-between align-items-center">
                            <td>@category.Name</td>
                            <td class="ms-5">
                                <button type="button" class="btn btn-primary open-editCategory" data-bs-toggle="modal" data-bs-target="#AddCategoryModal" data-id="@category.Id" data-name="@category.Name" id="EditCategoryBtn"><i class="bi bi-pencil-square"></i> edit</button>
                                |
                                <button type="button" class="btn btn-danger open-deleteCategory" data-bs-toggle="modal" data-bs-target="#DeleteCategoryModal" data-id="@category.Id" id="DeleteCategoryBtn"><i class="bi bi-trash"></i> delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="AddCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="_AddCategory" />
    </div>
</div>


<div id="DeleteCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="_DeleteCategory" />
    </div>
</div>

<div id="AddTransactionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="_AddTransaction" />
    </div>
</div>

<div id="DeleteTransactionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="_DeleteTransaction" />
    </div>
</div>