@using System.Diagnostics
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Budget.StevieTV.Models.BudgetViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionModal">
    Add Transaction
</button>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transactions[0].TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions[0].Category)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Transactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <button type="button" class="btn btn-primary editTransactionButton" onclick="editTransaction(@item.Id)">
                    Edit Transaction
                </button>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                <button type="button" class="btn btn-danger" onclick="deleteTransaction(@item.Id)">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_AddTransactionPartial" />
<partial name="_EditTransactionPartial"/>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}