@model MVC.Budget.JsPeanut.Models.ViewModel.CategoryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="buttons">
    <a button type="button" class="btn btn-success" asp-page="/CreateHabit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Add a new transaction
    </a>
    <a button type="button" class="btn btn-success" asp-page="/LogHabit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Show transaction history
    </a>
    @*<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
    </button>*@
</div>

    @foreach (var category in Model.Categories)
    {
    <div class="buttoncontainer">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Total value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="@category.ImageUrl" width="35px" height="35px">
                    </td>
                    <td>@category.Name</td>
                    <td>@category.TotalValue</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" style="margin-left: 100px; margin-top: 5px;">Add @category.Name transaction</button>
    </div>
}

@*//    foreach (var category in Model.Categories)
//    {
//        <div class="buttoncontainer" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
//            <table>
//                <thead>
//                    <tr>
//                        <th>Category</th>
//                        <th>Name</th>
//                        <th>Total value</th>
//                    </tr>
//                </thead>
//                <tbody>
//                    <tr>
//                        <td>
//                            <img src="@category.ImageUrl" width="35px" height="35px">
//                        </td>
//                        <td>@category.Name</td>
//                        <td>@category.TotalValue</td>
//                        //<td class="downarrow">
//                        //    <a onclick="ShowTransactions()">
//                        //        <img src="@(Url.Content("~/img/down-arrow-svgrepo-com.svg"))" width="10px" height="10px" img>
//                        //    </a>
//                        //</td>
//                    </tr>
//                </tbody>
//            </table>
//            <button class="btn btn-primary">Add transaction</button>
//        </div>
//        //@foreach (var transaction in Model.Transactions)
//        //{
//        //    int collapseNumber = 0;
//        //    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
//        //        <div class="transactionbuttoncontainer" style="margin-top: -6px;">
//        //            <table>
//        //                <thead>
//        //                    <tr>
//        //                        <th>Date</th>
//        //                        <th>Name</th>
//        //                        <th>Value</th>
//        //                    </tr>
//        //                </thead>
//        //                <tbody>
//        //                    <tr>
//        //                        <td>@transaction.Date</td>
//        //                        <td>@transaction.Name</td>
//        //                        <td>@transaction.Value</td>
//        //                    </tr>
//        //                </tbody>
//        //            </table>
//        //        </div>
//        //    </div>
//        //    collapseNumber++;
//        //}
//    }
//}*@

@section Scripts{
    <script>
        function ShowTransactions() {
            var transactionsDiv = document.querySelector("#transactions");
            transactionsDiv.style.display = "block";
        }
    </script>
    
}