@model IEnumerable<Budget.hasona23.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>{Categories}</h1>

<button type="button" class="btn btn-primary btn-create">
    Create New
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button class="btn btn-warning edit-btn" data-id="@item.Id">Edit</button>
                <button class="btn btn-danger delete-btn" data-id="@item.Id">Delete</button>

            </td>
        </tr>
}
    </tbody>
</table>
<!-- Create Modal -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content" id="createModalContent">
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content" id="editModalContent">
            <!-- Modal content will be loaded here -->
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content" id="deleteModalContent">
            <!-- Modal content will be loaded here -->
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function() {
            // Create Modal
            $(document).on('click', '.btn-create', function() {
                $('#createModal').modal('show');
                $('#createModalContent').load('@Url.Action("Create", "Category")');
            });

            // Edit Modal
            $(document).on('click', '.edit-btn', function() {
                var id = $(this).data('id');
                $('#editModal').modal('show');
                $('#editModalContent').load('@Url.Action("Edit", "Category")/' + id);
            });

            // Delete Modal
            $(document).on('click', '.delete-btn', function() {
                var id = $(this).data('id');
                $('#deleteModal').modal('show');
                $('#deleteModalContent').load('@Url.Action("Delete", "Category")/' + id);
            });
        });
    </script>
}