@model MVC.Budget.JsPeanut.Models.ViewModel.TransactionViewModel;
@{
    ViewBag.Title = "Index";
}

<div class="buttons d-flex" id="transactions">
    @*onclick=" location.href='@Url.Action("Index", "Categories")' *@
    <a button type="button" class="btn btn-success" href="javascript:history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Go back to categories
    </a>
    @*<button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuButton" width="91.7px" height="38px" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Filter by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item filterbycategory" asp-action="Index">Category</a>
        <a class="dropdown-item filterbycategory" asp-action="Index">Date</a>
    </div>*@
    <div class="filterandsearch">
        <form class="search" id="transactionsearch" class="ml-auto" style="display: flex;" asp-action="Index" asp-route-searchstringforname="@Model.SearchStringForName" asp-route-filterbycategorystring="@Model.FilterByCategoryString" asp-route-filterbydatestring="@Model.FilterByDateString">
            <div>
                <input type="text" id="searchInput" style="margin: 1em 0 1em 0;" asp-for="SearchStringForName" />
                <input type="submit" id="submit" class="btn btn-outline-success" value="Search" />
                <br />
                <small class="form-text text-muted">Search by name</small>
            </div>
            <div>
                <input type="text" style="margin: 1em 0 1em 0;" asp-for="FilterByCategoryString" />
                <input type="submit" id="submit" class="btn btn-outline-success" value="Filter" />
                <br />
                <small class="form-text text-muted">Filter by category</small>
            </div>
            <div>
                <input type="date" style="margin: 1em 0 1em 0;" asp-for="FilterByDateString" />
                <input type="submit" id="submit" class="btn btn-outline-success" value="Filter" />
                <br />
                <small class="form-text text-muted">Filter by date</small>
            </div>
        </form>
    </div>
</div>

<br />
@{
    if (ViewBag.Category == null)
    {
        <h3>Transaction history:</h3>
    }
    else
    {
        <img src="@ViewBag.ImageUrl" width="70px" height="70px">
        <h3>@ViewBag.Category transactions:</h3>
    }
}
<br />
<table id="transactionrecords" class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Date</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var transaction in Model.Transactions)
            {   
                <tr class="list-row">
                <td>@Model.Categories.Where(x => x.Id == transaction.CategoryId).First().Name</td>
                <td>@transaction.Date</td>
                <td>@transaction.Name</td>
                <td>@transaction.CurrencyCode</td>
                <td>@transaction.Value</td>
                <td class="break-word">@transaction.Description</td>
                <td>
                    <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@transaction.Id" onclick="showDeleteModal(@transaction.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal_@transaction.Id" onclick="showUpdateModal(@transaction.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg>
                        </svg>
                    </a>
                </td>

                <div class="modal fade" id="deleteModal_@transaction.Id" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this transaction?</p>
                            </div>
                            <div class="modal-footer">
                                <form method="post" asp-action="DeleteTransaction" asp-route-id="@transaction.Id">
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                </form>
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updateModal_@transaction.Id" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addTransactionModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form asp-action="UpdateTransaction" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label style="margin-top: 10px; margin-bottom: 20px;">Date</label>
                                        <input type="datetime-local" placeholder="Date" asp-for="Transaction.Date">
                                        <span asp-validation-for="Transaction.Date" class="text-danger"></span>
                                        <br />
                                        <label style ="margin-top: 10px; margin-bottom: 20px;">Name</label>
                                        <input type="text" placeholder="Name" asp-for="Transaction.Name">
                                        <span asp-validation-for="Transaction.Name" class="text-danger"></span>
                                        <br />
                                            <label style="margin-top: 10px; margin-bottom: 20px;">Category</label>
                                        @{
                                            var categories = Model.Categories;
                                            <select id="selectCategory" asp-for="Transaction.CategoryId">
                                                {
                                                <option value="@categories.Where(x => x.Id == transaction.CategoryId).First().Id" selected>@categories.Where(x => x.Id == transaction.CategoryId).First().Name</option>
                                                @foreach (var item in Model.CategorySelectList.Where(x => x.Text != categories.Where(x => x.Id == transaction.CategoryId).First().Name))
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                                }
                                            </select>
                                        }
                                        <br />
                                        <label style="margin-top: 10px; margin-bottom: 20px;">Value</label>
                                        <input type="decimal" placeholder="Value" asp-for="Transaction.Value">
                                        <span asp-validation-for="Transaction.Value" class="text-danger"></span>
                                        <br />
                                        <small id="valueHelp" class="form-text text-muted">If you are going to insert a decimal, use a dot as separator</small>
                                        <br>
                                        <label style="margin-top: 10px; margin-bottom: 20px;">Description</label>
                                        <input type="text" placeholder="Description" asp-for="Transaction.Description"/>
                                        <span asp-validation-for="Transaction.Description" class="text-danger"></span>
                                        <br />
                                        <label style="margin-top: 10px; margin-bottom: 20px;">Currency</label>
                                        <select asp-for="CurrencyObjectJson" asp-items="Model.CurrencySelectList"></select>
                                        <input type="hidden" asp-for="Transaction.Id" value="@transaction.Id">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>  
        }
    }
    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        

        function showDeleteModal(transactionid) {
            $(`#deleteModal_${transactionid}`).modal('show');
        }

        function showUpdateModal(transactionid) {
            $(`#updateModal_${transactionid}`).modal('show');
        }
    </script>
}