@model MvcBudgetCarDioLogic.Models.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- Bootstrap JavaScript and dependencies -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<h1 style="text-align:center;">Categories</h1>

<div class="container">
    <table class="table table-hover " style="margin-top:10px;">
        <thead>
            <tr class="table-primary">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th class="text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Create category
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td class="text-center">
                        <a data-toggle="modal" data-target="#EditModal" class="btn btn-primary" id="EditForm" onclick="EditForm('@item.Id', '@item.CategoryName')">Edit</a>
                        <a data-toggle="modal" data-target="#DeleteModal" class="btn btn-danger" id="showModal" onclick="Confirm(@item.Id)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- create category -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Category.CategoryName" class="control-label"></label>
                        <input asp-for="Category.CategoryName" class="form-control" />
                        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnCC" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete category -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="DeleteCategory">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Category.Id" id="categoryToDeleteId" class="form-control" />
                    <h4>Are you sure you want to delete this category?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnDC" type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update category -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Category.CategoryName" class="control-label"></label>
                        <input id="categoryToUpdateName" asp-for="Category.CategoryName" class="form-control" />
                        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Category.Id" id="categoryToUpdateId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var Confirm = function (id)
        {
            document.getElementById('categoryToDeleteId').value = id;
        }


        var EditForm = function (id, name) {
            document.getElementById('categoryToUpdateId').value = id;
            document.getElementById('categoryToUpdateName').value = name;
        }
    </script>
}
